<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>

<title>{{ page.title }}</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ site.github.url }}/css/application.css">
</head>
<body class="{{ page.class }}">

<main>
  <header>
    {% if page.categories.size > 0 %}
    <h1>How is {{ page.categories.first }}?</h1>
    {% else %}
    <h1>HowIs Reports</h1>
    {% endif %}

    <nav>
      <ul>
          <li><a class="home" href="{{ site.github.url }}/">Home</a></li>
      </ul>
    </nav>
  </header>

  {{ content }}
</main>

</body>
</html>
